build/
.libs/
Makefile
Makefile.in
config.h
config.h.in
config.guess
config.status
config.sub
config.log
depcomp
install-sh
ltmain.sh
compile
configure
libtool
*.m4
*.pc
*.o
*.lo
*.la
*.cache/
*.tar.gz
missing
package_version
.deps/
.dirstamp
stamp-h1
models/
dump_features
dump_weights_blob
doc/
